{% extends 'cookie-consent-manager/_layouts/settings' %}

{% import "_includes/forms" as forms %}

{% set selectedNavItem = 'cookies' %}

{% block content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
        {{ actionInput('cookie-consent-manager/settings/save') }}
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'Cookie expiration'|t('cookie-consent-manager'),
            instructions: 'Number of days before the cookie expires (Default: 182 days = 6 months)'|t('cookie-consent-manager'),
            name: 'cookieExpiration',
            value: settings.cookieExpiration,
            inputmode: 'numeric',
            size: 4,
        }) }}

        {{ forms.lightswitchField({
            label: 'Use rfc cookie'|t('cookie-consent-manager'),
            instructions: 'Enable if you want the value of the cookie to be rfc compliant'|t('cookie-consent-manager'),
            name: 'useRfcCookie',
            on: settings.useRfcCookie,
        }) }}

        <div class="buttons">
            {{ forms.submitButton({label: 'Save'|t('app')}) }}
        </div>

    </form>

{% endblock %}
