{% extends 'cookie-consent-manager/_layouts/settings' %}

{% import "_includes/forms" as forms %}

{% set selectedNavItem = 'general' %}

{% block content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
        {{ actionInput('cookie-consent-manager/settings/save') }}
        {{ csrfInput() }}

        {{ forms.textField({
            first: true,
            label: 'Plugin name'|t('cookie-consent-manager'),
            instructions: 'How should the Plugin be called in the Control Panel?'|t('cookie-consent-manager'),
            name: 'name',
            value: settings.name,
        }) }}

        <hr>

        {{ forms.radioGroupField({
            label: 'Mode'|t('cookie-consent-manager'),
            name: 'mode',
            instructions: 'When should scripts run?'|t('cookie-consent-manager'),
            options: [
                { value: 'opt-in', label: '<b>Opt-in</b>: scripts will not run unless consent is given (gdpr compliant)'|t('cookie-consent-manager') },
                { value: 'opt-out', label: '<b>Opt-out</b>: scripts — that have categories set as enabled by default — will run without consent, until an explicit choice is made'|t('cookie-consent-manager') },
            ],
            value: settings.mode,
        }) }}

        {{ forms.lightswitchField({
            label: 'Force consent'|t('cookie-consent-manager'),
            instructions: 'Enable if you want to block page navigation until user action'|t('cookie-consent-manager'),
            name: 'forceConsent',
            on: settings.forceConsent,
        }) }}

        {{ forms.lightswitchField({
            label: 'Autoclear cookies'|t('cookie-consent-manager'),
            instructions: 'Enable if you want to automatically delete cookies when user opts-out of a specific category inside cookie settings'|t('cookie-consent-manager'),
            name: 'autoclearCookies',
            on: settings.autoclearCookies,
        }) }}

        {{ forms.lightswitchField({
            label: 'Autorun'|t('cookie-consent-manager'),
            instructions: 'Enable if you want to show the cookie consent as soon as possible (otherwise you need to manually call the .show() method)'|t('cookie-consent-manager'),
            name: 'autorun',
            on: settings.autorun,
        }) }}

        <hr>

        <div class="buttons">
            {{ forms.submitButton({label: 'Save'|t('app')}) }}
        </div>

    </form>

{% endblock %}
