{% extends 'cookie-consent-manager/_layouts/cp' %}

{% set title = "Cookie Consent Manager Settings"|t('cookie-consent-manager') %}

{% import "_includes/forms" as forms %}

{% block content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
        {{ actionInput('cookie-consent-manager/settings/save') }}
        {{ csrfInput() }}

        <h2>{{ 'General'|t }}</h2>

        {{ forms.textField({
            label: 'Plugin name'|t('cookie-consent-manager'),
            instructions: 'How should the Plugin be called in the Control Panel?'|t('cookie-consent-manager'),
            name: 'name',
            value: settings.name,
        }) }}

        {{ forms.radioGroupField({
            label: 'Mode'|t('cookie-consent-manager'),
            name: 'mode',
            instructions: 'When should scripts run?'|t('cookie-consent-manager'),
            options: [
                { value: 'opt-in', label: '<b>Opt-in</b>: scripts will not run unless consent is given (gdpr compliant)'|t('cookie-consent-manager') },
                { value: 'opt-out', label: '<b>Opt-out</b>: scripts — that have categories set as enabled by default — will run without consent, until an explicit choice is made'|t('cookie-consent-manager') },
            ],
            value: settings.mode,
        }) }}

        {{ forms.lightswitchField({
            label: 'Force consent'|t('cookie-consent-manager'),
            instructions: 'Enable if you want to block page navigation until user action'|t('cookie-consent-manager'),
            name: 'forceConsent',
            on: settings.forceConsent,
        }) }}

        {{ forms.lightswitchField({
            label: 'Autoclear cookies'|t('cookie-consent-manager'),
            instructions: 'Enable if you want to automatically delete cookies when user opts-out of a specific category inside cookie settings'|t('cookie-consent-manager'),
            name: 'autoclearCookies',
            on: settings.autoclearCookies,
        }) }}

        <hr>

        <h2>{{ 'Cookies'|t }}</h2>

        {{ forms.textField({
            label: 'Cookie expiration'|t('cookie-consent-manager'),
            instructions: 'Number of days before the cookie expires (Default: 182 days = 6 months)'|t('cookie-consent-manager'),
            name: 'cookieExpiration',
            value: settings.cookieExpiration,
            inputmode: 'numeric',
            size: 4,
        }) }}

        {{ forms.lightswitchField({
            label: 'Use rfc cookie'|t('cookie-consent-manager'),
            instructions: 'Enable if you want the value of the cookie to be rfc compliant'|t('cookie-consent-manager'),
            name: 'useRfcCookie',
            on: settings.useRfcCookie,
        }) }}

        <hr>

        <div class="buttons">
            {{ forms.submitButton({label: 'Save'|t('app')}) }}
        </div>

    </form>

{% endblock %}
