{% extends 'cookie-consent-manager/_layouts/content' %}

{% import "_includes/forms" as forms %}

{% set selectedNavItem = 'consentModal' %}

{% set contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        {% include '_elements/sitemenu' with {
            urlFormat: cpUrl("cookie-consent-manager/content/", {site: '{handle}'}),
        } %}
    {% endif %}
{% endset %}

{% block content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
        {{ actionInput('cookie-consent-manager/cp/content/save') }}
        {{ csrfInput() }}

        {{ forms.textField({
            first: true,
            label: 'Label'|t('cookie-consent-manager'),
            instructions: 'Provide the modal with an accessible name, used by screen readers.'|t('cookie-consent-manager'),
            name: 'consentModalLabel',
            value: content.consentModalLabel ?? '',
            size: 50,
        }) }}

        {{ forms.textField({
            label: 'Title'|t('cookie-consent-manager'),
            name: 'consentModalTitle',
            value: content.consentModalTitle ?? '',
            size: 50,
        }) }}

        {{ forms.textareaField({
            label: 'Description'|t('cookie-consent-manager'),
            instructions: 'Use the placeholder `{preferences}` to add a preferences link. HTML is allowed in this field.'|t('cookie-consent-manager'),
            name: 'consentModalDescription',
            value: content.consentModalDescription ?? '',
            rows: 2,
            cols: 50,
        }) }}

        {{ forms.textField({
            label: 'Preferences link label'|t('cookie-consent-manager'),
            name: 'consentModalPreferencesLabel',
            value: content.consentModalPreferencesLabel ?? '',
            size: 30,
        }) }}

        {{ forms.textField({
            label: 'Accept all button'|t('cookie-consent-manager'),
            name: 'consentModalAcceptAllButton',
            value: content.consentModalAcceptAllButton ?? '',
            size: 30,
        }) }}

        {{ forms.textField({
            label: 'Reject button'|t('cookie-consent-manager'),
            name: 'consentModalAcceptNecessaryButton',
            value: content.consentModalAcceptNecessaryButton ?? '',
            size: 30,
        }) }}

        {{ forms.textareaField({
            label: 'Footer'|t('cookie-consent-manager'),
            instructions: 'An optional footer. HTML is allowed in this field, so it can be used to add links to your legal documents.'|t('cookie-consent-manager'),
            name: 'consentModalFooter',
            value: content.consentModalFooter ?? '',
            rows: 2,
            cols: 50,
        }) }}

        <div class="buttons">
            {{ forms.submitButton({label: 'Save'|t('app')}) }}
        </div>

    </form>

{% endblock %}
